<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  <p>
    This could be where a comment goes
  </p>
</div>
